<!DOCTYPE html>
<link rel="stylesheet" href="/static/css/posts.css">

{% extends "layout.html" %}
{% block title %}Front Page{% endblock %}
{% block content %}

<h2>Front page</h2>
<p>
    Welcome to the app
    {% if session.username %}
    You are logged in as {{ session.username }}
    <br>
    <a href="/mine">My groups</a>
    {% endif %}
    <br>
    <br>
    Order By
    <br>
    <a href="/">Time</a> -
    <a href="/order:popularity">Popularity</a> - 
    <a href="/order:activity">Activity</a>
</p>

<h3>Most popular</h3>
{% for id, group in groups %}
<div class="postDiv">
  <a href="/group{{ id }}">{{ group }}</a>
</div>
{% endfor %}

{% endblock %}