<!doctype html>
<link rel="stylesheet" href="/static/css/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Photo Share - {% block title %}{% endblock %}</title>

<body>
    <ul>
        <li><a href="/">Front page</a></li>
        {% if session.username %}
        <li><a href="/logout">Log out</a></li>
        <li><a href="/create-group">Create Group</a></li>
        {% else %}
        <li><a href="/sign-in">Log in</a></li> 
        {% endif %}
    </ul>

    <hr>
        {% block content %}{% endblock %}
    <hr>
</body>